.login-box {
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box__header {
  text-align: center;
}

.login-box__header-logo {
  width: 80%;
}

.error_btn_wrapper {
  display: flex;
}

.login-box__btn {
  width: 120px;
  margin-right: 20px;
}

.login-box__error {
  width: 220px;
  font-size: 0.75rem;
  color: #F44336;
  line-height: 1rem;
  word-wrap: break-word;
}
